<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('<%= image_path 'home.jpg' %>');">
    <h1>KYVOS</h1>
    <%= render 'shared/navbar' %>
    <div class="banner-content">
      <p>Partagez une véritable expérience de sommeil</p>
      <%= link_to "Reservation", rooms_path, class: "btn btn-primary button-black" %>
    </div>
</div>
