<div class="col-xs-12 col-md-4">
  <div class="card">
    <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= room.photo %>');">
    </div>
    <div class="card-body">
      <p id="room-name"><%= room.name %></p>
      <p id="room-capacity">Pour <%= room.capacity %> personnes</p>
      <p id="room-price">À partir de <%= room.price %>€ la nuit</p>
    </div>
  </div>
</div>
