<%= render "shared/navbar" %>
<div class="wrapper">
  <div class="container">
    <h3>Découvrez nos offres</h3>
    <% @rooms.each do |room| %>
      <%= render "shared/card", room: room %>
    <% end %>
  </div>
</div>

