<%= render "shared/banner-pages" %>
<div class="wrapper">
  <div class="container">
    <div class="rooms">
      <h3>Découvrez nos offres</h3>
      <div class="row">
        <% @rooms.each do |room| %>
          <%= render "shared/card", room: room %>
        <% end %>
      </div>
    </div>
  </div>
</div>


